	
			<div class= "product-view">
				<div class= "container">
				<div id="product-header" class="product-header hidden-xs">
				   <div class="row">
					  <div class="col-md-12">
						 <h1 class="name" data-testid="product-name"><%=product.name%></h1>
						 <small>
							<div class="header-stat"><span class="extra-space">Condition:</span><span data-testid="product-condition" class="sneak-score">New</span></div>
							<!-- <span class="divider-pipe">|</span>
							<div class="header-stat">Ticker:<span class="soft-black" data-testid="product-ticker" title=""> AJ1MS-FLBTG</span></div> -->
							<span class="divider-pipe">|</span>
							<div class="header-stat"><a href="https://help.stockx.com/s/article/How-does-the-verification-process-work" class="sneak-score" target="_blank" rel="noopener noreferrer" data-testid="product-sneaker-score">100% Authentic</a></div>
						 </small>
					  </div>
				   </div>
				   <div id="market-summary" class="market-summary">
				<!--	  <div class="options">
						 <div class="form-group">
							<label class="size-label">Size</label>
							<div class="select-control shoe-size">
							   <div><button type="button" class="btn btn-default size-sm " data-toggle="dropdown" data-id="region" title="10">10 <i class="fa fa-chevron-down"></i></button></div>
							   <div class="select-options">
								  <div>
									 <div class="SizeChartDropDown__DropdownHeader-sc-1tcopip-2 iVyyGf">
										<div class="SizeChartDropDown__SizeSelect-sc-1tcopip-4 cxukXC">Select a U.S. Men's Size</div>
										<div class="SizeChartDropDown__SizeChartButton-sc-1tcopip-3 eVjqQG">Size Chart</div>
									 </div>
								  </div>
								  <div>
									 <ul class="list-unstyled sneakers">
										<li class="select-option all">
										   <div class="inset">
											  <div class="title">us All</div>
											  <div class="subtitle">$139</div>
										   </div>
										</li>
										<li class="select-option no-val">
										   <div class="inset">
											  <div class="title">us 4</div>
											  <div class="subtitle">Bid</div>
										   </div>
										</li>
										<li class="select-option no-val">
										   <div class="inset">
											  <div class="title">us 4.5</div>
											  <div class="subtitle">Bid</div>
										   </div>
										</li>
										<li class="select-option no-val">
										   <div class="inset">
											  <div class="title">us 5</div>
											  <div class="subtitle">Bid</div>
										   </div>
										</li>
										<li class="select-option no-val">
										   <div class="inset">
											  <div class="title">us 5.5</div>
											  <div class="subtitle">Bid</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 6</div>
											  <div class="subtitle">$528</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 6.5</div>
											  <div class="subtitle">$440</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 7</div>
											  <div class="subtitle">$411</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 7.5</div>
											  <div class="subtitle">$510</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 8</div>
											  <div class="subtitle">$171</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 8.5</div>
											  <div class="subtitle">$165</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 9</div>
											  <div class="subtitle">$160</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 9.5</div>
											  <div class="subtitle">$154</div>
									detail	   </div>
										</li>
										<li class="select-option active">
										   <div class="inset">
											  <div class="title">us 10</div>
											  <div class="subtitle">$148</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 10.5</div>
											  <div class="subtitle">$144</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 11</div>
											  <div class="subtitle">$139</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 11.5</div>
											  <div class="subtitle">$152</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 12</div>
											  <div class="subtitle">$147</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 12.5</div>
											  <div class="subtitle">$264</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 13</div>
											  <div class="subtitle">$158</div>
										   </div>
										</li>
										<li class="select-option no-val">
										   <div class="inset">
											  <div class="title">us 13.5</div>
											  <div class="subtitle">Bid</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 14</div>
											  <div class="subtitle">$140</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 14.5</div>
											  <div class="subtitle">$798</div>
										   </div>
										</li>
										<li class="select-option no-val">
										   <div class="inset">
											  <div class="title">us 15</div>
											  <div class="subtitle">Bid</div>
										   </div>
										</li>
										<li class="select-option">
										   <div class="inset">
											  <div class="title">us 16</div>
											  <div class="subtitle">$792</div>
										   </div>
										</li>
									 </ul>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>-->
					  <div class="last-sale-block">
						 <div>
							<div data-testid="product-last-sale-button" class="last-sale">
							   <h3>Last Sale</h3>
							   <div class="sale-value"><%if(lastsale){%>$<%=Math.ceil(lastsale.netprice)%><%}else{ %>--<%}%></div>
							  <% if(lastsale){var pc= spchange/lastsale.netprice*100;if(spchange>0){ %>
							   <div data-testid="product-size-button" class="last-sale-value market-dir market-dir-up">
								  <span class="market-dir-up-arrow"></span>
								  <div class="dollar">+$<%=spchange.toFixed(2)%></div>
								  <div class="percentage">(1%)</div>
							   </div>
							   <% }else{ %>
								<div data-testid="product-size-button" class="last-sale-value market-dir market-dir-down">
									<span class="market-dir-up-down"></span>
									<div class="dollar">$<%=spchange.toFixed(2)%></div>
									<div class="percentage">(<%=pc.toFixed(2)%>%)</div>
								 </div>
								 <% } }%>


							</div>
							<div class="sale-size">
							   <div><a class="all view_all_sales">View All Sales</a></div>
							</div>
						 </div>
					  </div>
					  <div class="bid bid-button-b">
						 <div data-testid="product-bid-button" class="inner">
							<a class="button-container-b bid-button  en-us" href="/products/buy/<%=product.id %>">
							   <div class="stats "><!---shop/product/<%=product.id %>-->
								  <div class="en-us stat-value stat-small"><% if(lowbid){ %>$<%=lowbid.bidprice%> <% }else{ %>-- <% } %></div>
								  <h3>Lowest Ask</h3>
							   </div>
							   <div class="button-divider en-us"></div>
							   <div class="title">
								  <h2 class="en-us">Buy</h2>
								  <div class="sub-title en-us">or Bid</div>
							   </div>
							</a>
						 </div>
						 <div class="sale-size">
							<div><a class="all view_all_bid" >View All Asks</a></div>
						 </div>
					  </div>
					  <div class="ask ask-button-b">
						 <div data-testid="product-ask-button" class="inner">
							<a class="button-container-b ask-button  en-us" href="/products/sell/<%=product.id %>">
							   <div class="stats ">
								  <div class="en-us stat-value stat-small"><% if(highbid){ %>$<%=highbid.bidprice%> <% }else{ %>-- <% } %></div>
								  <h3>Highest Bid</h3>
							   </div>
							   <div class="button-divider en-us"></div>
							   <div class="title">
								  <h2 class="en-us">Sell</h2>
								  <div class="sub-title en-us">or Ask</div>
							   </div>
							</a>
						 </div>
						 <div class="sale-size">
							<div><a class="all view_all_ask">View All Bids</a></div>
						 </div>
					  </div>
				   </div>
				</div>
	
				<!-- <div class="product-media">
					<div class="full " style="position: relative;">
					 <div class="container">
						 
							 <div class="photo_3d">
							 
							 </div>
						 </div>
		 
					</div>
					<div class="product-gallery hidden-xs"></div>
				 </div> -->
	
	
				 <div class="product-media">
				   <div class="full " style="position: relative;">
					  <div class="container">
						 <div class="image-container"><img data-testid="product-detail-image" alt="Jordan 1 Mid SE Fearless Blue the Great" src="/uploads/products/<%= product.image %>" draggable="false" ) 400px"></div>
						 <div class="photo_3d">
						
						 </div>
					  </div>
				   </div>
				   <div class="product-gallery hidden-xs"></div>
				</div> 
	</div>
	
	<div class="container">
							<div class="product-info">
							   <div class="product-details detail-column">
								  <div class="detail">
									 <div class="pinfo-container"><span class="icon"></span><span class="title">Style</span></div>
									 <span data-testid="product-detail-style"> <%=product.style%> </span>
								  </div>
								  <div class="detail">
									 <div class="pinfo-container"><span class="icon"></span><span class="title">Colorway</span></div>
									 <span data-testid="product-detail-colorway"> Muslin/Varsity Red-Royal-Taxi-Black </span>
								  </div>
								  <div class="detail">
									 <div class="pinfo-container"><span class="icon"></span><span class="title">Retail Price</span></div>
									 <span data-testid="product-detail-retail price"> $<%=product.price%> </span>
								  </div>
								  <div class="detail">
									 <div class="pinfo-container"><span class="icon"></span><span class="title">Release Date</span></div>
									 <span data-testid="product-detail-release date"> 11/09/2019 </span>
								  </div>
							   </div>
							   <div class="product-description description-expanded">
								  <p><%=product.description%> 
									 
									  </p>
							   </div>
							</div>
							</div>
							
							
							
							
	
					<div class="product-market-summary-wrap hidden-xs">
					   <div class="container">
						  <div class="product-market-summary">
							 <ul class="row list-unstyled">
								<li class="ft-high-low-col ">
								   <img src="/assets/images/maker1.png"><span>52 Week </span>
								   <div class="value-container"><span>High $238</span><span> | Low $135</span></div>
								</li>
								<li class="ds-range-col market-up">
								   <img src="/assets/images/maker2.png" alt="chart"><span>Trade Range (12 Mos.)</span>
								   <div class="ds-range value-container"><span class="value"><%if(lowest_netprice){%>$<%=Math.ceil(lowest_netprice.netprice)%><%}else{ %>--<%}%><span> - </span><%if(heigh_netprice){%>$<%=Math.ceil(heigh_netprice.netprice)%><%}else{ %>--<%}%></span></div>
								</li>
								<li class="volatility-col market-down">
								   <img src="/assets/images/maker3.png" alt="volatility"><span>Volatility</span>
								   <div class="value-container"><span class="value">3.0%</span></div>
								</li>
							 </ul>
						  </div>
					   </div>
					   <div></div>
					</div>
					
					
					
	
								<div id="related-products-wrap" class="product-related-products-wrap">
								   <div class="container">
									  <div class="product-related-products">
										 <div class="row">
											<div class="col-xs-12 related-banner">
						`					   <div class="h4 banner banner-red">Related Products</div>
											</div>
										 </div>
										 <ul role="navigation" class="TileRow__Row-sc-1ch097f-0 eLzsmZ">
											<% for (var i = 0; i < relatedproducts.length; i++) { %>
											<div>
											   <div class="tile Tile-oazi1d-0 bbbEOC" data-testid="product-tile">
												  <a style="color: black;" href="/uploads/products/<%= relatedproducts[i].image %>">
													 <div class="TileImage-wau2e8-0 cqDtuD" style="position: relative; padding-top: 58%;"><img alt="Jordan 1 Mid SE Light Bone" src="/uploads/products/<%= relatedproducts[i].image %>" class="LazyImage__StyledImage-sc-153p075-0 MEhRc"></div>
													 <div class="TileBody-x9tqoz-0 jscJze">
														<div style="height: 38px;  margin-bottom: 6px;" size="16" class="PrimaryText-sc-1x1p394-0 hbRDwP">
														   <div><%= relatedproducts[i].name %></div>
														   <!-- <div>Light Bone</div> -->
														</div>
														<div>
														   <div class="price-line-div">
															  <div class="SecondaryText-sc-1puaksj-0 cNrUGk">lowest ask</div>
															  <div size="22" class="PrimaryText-sc-1x1p394-0 cziEBO">$<%= relatedproducts[i].price %></div>
														   </div>
														</div>
														<div class="change  SecondaryText-sc-1puaksj-0 cNrUGk">Last Sale: $145</div>
													 </div>
												  </a>
											   </div>
											</div>
											<% } %>
										
											
										
										
										 </ul>
									  </div>
								   </div>
								</div>
								
								
								
								
								<div class="graph_sec">
								<div class="container">
								<div class="row">
											<div class="col-md-12 related-banner">
						`					   <div class="h4 banner banner-red">Related sales</div>
											</div>
											
											
											<div class="col-md-8">
											<div class="bid-page" style="position: relative; overflow-y: hidden;">
											   <div class="split-pane-page">
												<div id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
												</div>
											</div>
											
											
											
	
										<div class="latest-sales-container">
										   <table class="latest-sales table table-striped table-condensed " id="latest-sales-table">
											  <thead>
												 
												 <tr>
													<th class="col-sm-2 col-xs-3">SNo.</th>
													<th class="col-sm-3 col-xs-3">Sale Price</th>
													<th class="col-sm-4 col-xs-6">Date Time</th>
													
												 </tr>
												
											  </thead>
											  <tbody>
												<%if(allsales.length>0){
													for (var i = 0; i < allsales.length; i++) { %>
												 <tr>
													<td><%=i%></td>
													<td>$<%=Math.ceil(allsales[i].netprice)%></td>
													<td><%=allsales[i].orderdate%></td>
													
												 </tr>
												 <%}} %>
												
											  </tbody>
										   </table>
										</div>
	
	
											
											</div>
										 
										 
								
	
										<div class="col-md-4 gauges-wrapper">
										   <div class="h4-12-month"><img alt="gauge" src="/assets/images/maker1.png"><span>12 Month Historical</span></div>
										   <div class="gauges">
											  <div class="gauge-container">
												 <div class="gauge"></div>
												 <div class="gauge-title"># of Sales</div>
												 <div class="gauge-value"><%=ordercount%></div>
											  </div>
											  <div class="gauge-container">
												 <div class="gauge"></div>
												 <div class="gauge-title">
													Price Premium
													<div class="historical-detail">(Over Original Retail Price)</div>
												 </div>
												 <div class="gauge-value">13.8%</div>
											  </div>
											  <div class="gauge-container">
												 <div class="gauge"></div>
												 <div class="gauge-title">Average Sale Price</div>
												 <div class="gauge-value">$161</div>
											  </div>
										   </div>
										</div>
	
	
								</div>
								</div>
								</div>
	
	
	
				</div>
				 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
			<div id="example-table"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
				<script>
			$(".view_all_bid").click(function(){
				var id="<%=product.id%>";
				var URL = "/products/bids/"; //ajax URL
				var params = {productId:id}
				var ajaxConfig = "POST"; //ajax HTTP request type 
				console.log(id);
				$("#myModal").modal()
				var table = new Tabulator("#example-table", {
					productId:id,	
					ajaxURL:"/products/bids/"+id, //ajax URL
						ajaxConfig:{
							method:"POST",
							 //set request type to Position
							headers: {
								"Content-type": 'application/json; charset=utf-8', //set specific content type
							},
						},
							columns:[
							{title:"Attribute", field:"attr_val"},
							{title:"title", field:"title"},	
							{title:"price", field:"bidprice"} ] // send parameters to the server as a JSON encoded string
					});
				// $.ajax({
				// 	url: "/products/bids/",
				// 	dataType:"json",
				// 	method:"post",
				// 	data:{productId:id},
				// 	success:function(respose){
				// 		consle.log(response)
				// 	},
				// 	error:function(error){
				// 		consle.log(error)
				// 	}
				// });
	});
	$(".view_all_ask").click(function(){
				var id="<%=product.id%>";
				var params = {productId:id}
				var ajaxConfig = "POST"; //ajax HTTP request type 
				console.log(id);
				$("#myModal").modal()
				var table = new Tabulator("#example-table", {
					productId:id,	
					ajaxURL:"/products/asks/"+id, //ajax URL
						ajaxConfig:{
							method:"POST",
							 //set request type to Position
							headers: {
								"Content-type": 'application/json; charset=utf-8', //set specific content type
							},
						},
							columns:[
							{title:"Attribute", field:"attr_val"},	
							{title:"title", field:"title"},	
							{title:"price", field:"bidprice"}] // send parameters to the server as a JSON encoded string
					});
	});


	$(".view_all_sales").click(function(){
				var id="<%=product.id%>";
				var params = {productId:id}
				var ajaxConfig = "POST"; //ajax HTTP request type 
				console.log(id);
				$("#myModal").modal()
				var table = new Tabulator("#example-table", {
					productId:id,	
					ajaxURL:"/products/asks/"+id, //ajax URL
						ajaxConfig:{
							method:"POST",
							 //set request type to Position
							headers: {
								"Content-type": 'application/json; charset=utf-8', //set specific content type
							},
						},
							columns:[
							{title:"Attribute", field:"attr_val"},	
							{title:"title", field:"title"},	
							{title:"price", field:"bidprice"}] // send parameters to the server as a JSON encoded string
					});
	});

	
	
					$(".select-control").click(function()
		{
		 
		  $(this).toggleClass("is-open");
		});
	</script>
			
		
			<script>
				Highcharts.getJSON(
					'/saleschart/<%=product._id%>',
				  function (data) {
				
					Highcharts.chart('chart-container', {
					  chart: {
						zoomType: 'x'
					  },
					  title: {
						text: '<%=product.name%>'
					  },
					  subtitle: {
						text: document.ontouchstart === undefined ?
						  'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
					  },
					  xAxis: {
						type: 'datetime'
					  },
					  yAxis: {
						title: {
						  text: 'LATEST SALES'
						}
					  },
					  legend: {
						enabled: false
					  },
					  plotOptions: {
						area: {
						  fillColor: {
							linearGradient: {
							  x1: 0,
							  y1: 0,
							  x2: 0,
							  y2: 1
							},
							stops: [
							  [0, Highcharts.getOptions().colors[0]],
							  [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
							]
						  },
						  marker: {
							radius: 2
						  },
						  lineWidth: 1,
						  states: {
							hover: {
							  lineWidth: 1
							}
						  },
						  threshold: null
						}
					  },
				
					  series: [{
						type: 'area',
						name: 'netprice',
						data: data
					  }]
					});
				  }
				);
				</script>