	 
		 
		 
		   <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Men</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Accessories</li>
                    </ol>
                </div><!-- End .container -->
            </nav>
		 
		 
		 
		 
		 
		 
		 
		 
						 
						 <div class="container">
				<div class="row">
				
				
				
				
				
				<aside class="sidebar-shop col-lg-3 order-lg-first">
                        <div class="pin-wrapper" style="height: 1035.4px;"><div class="sidebar-wrapper sticky-active sticky-absolute sticky-transition" style="width: 270px; position: absolute; ">
                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">Men</a>
                                </h3>

                                <div class="collapse show" id="widget-body-2">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            <li><a href="#">Accessories</a></li>
                                            <li><a href="#">Watch Fashion</a></li>
                                            <li><a href="#">Tees, Knits &amp; Polos</a></li>
                                            <li><a href="#">Pants &amp; Denim</a></li>
                                        </ul>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">Price</a>
                                </h3>

                                <div class="collapse show" id="widget-body-3">
                                    <div class="widget-body">
                                        <form action="#">
                                            <div class="price-slider-wrapper">
                                                <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(20%) scale(0.5, 1);"></div></div><div class="noUi-origin" style="transform: translate(-80%); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="60.0" aria-valuenow="20.0" aria-valuetext="200.00"></div></div><div class="noUi-origin" style="transform: translate(-30%); z-index: 4;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="30.0" aria-valuemax="100.0" aria-valuenow="70.0" aria-valuetext="700.00"></div></div></div></div><!-- End #price-slider -->
                                            </div><!-- End .price-slider-wrapper -->

                                            <div class="filter-price-action">
                                                <button type="submit" class="btn btn-primary">Filter</button>

                                                <div class="filter-price-text">
                                                    Price:
                                                    <span id="filter-price-range">$200.00 - $700.00</span>
                                                </div><!-- End .filter-price-text -->
                                            </div><!-- End .filter-price-action -->
                                        </form>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true" aria-controls="widget-body-4">Size</a>
                                </h3>

                                <div class="collapse show" id="widget-body-4">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            <li><a href="#">Small</a></li>
                                            <li><a href="#">Medium</a></li>
                                            <li><a href="#">Large</a></li>
                                            <li><a href="#">Extra Large</a></li>
                                        </ul>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true" aria-controls="widget-body-5">Brand</a>
                                </h3>

                                <div class="collapse show" id="widget-body-5">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            <li><a href="#">Adidas</a></li>
                                            <li><a href="#">Calvin Klein (26)</a></li>
                                            <li><a href="#">Diesel (3)</a></li>
                                            <li><a href="#">Lacoste (8)</a></li>
                                        </ul>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-6" role="button" aria-expanded="true" aria-controls="widget-body-6">Color</a>
                                </h3>

                                <div class="collapse show" id="widget-body-6">
                                    <div class="widget-body">
                                        <ul class="config-swatch-list">
                                            <li class="active">
                                                <a href="#">
                                                    <span class="color-panel" style="background-color: #1645f3;"></span>
                                                    <span>Blue</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="color-panel" style="background-color: #f11010;"></span>
                                                    <span>Red</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="color-panel" style="background-color: #fe8504;"></span>
                                                    <span>Orange</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="color-panel" style="background-color: #2da819;"></span>
                                                    <span>Green</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                        </div></div><!-- End .sidebar-wrapper -->
                    </aside>
				
				
				
				<div class="col-lg-9">
                        <nav class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-item toolbox-sort">
                                    <div class="select-custom">
                                        <select name="orderby" class="form-control">
                                            <option value="menu_order" selected="selected">Default sorting</option>
                                            <option value="popularity">Sort by popularity</option>
                                            <option value="rating">Sort by average rating</option>
                                            <option value="date">Sort by newness</option>
                                            <option value="price">Sort by price: low to high</option>
                                            <option value="price-desc">Sort by price: high to low</option>
                                        </select>
                                    </div><!-- End .select-custom -->

                                    <a href="#" class="sorter-btn" title="Set Ascending Direction"><span class="sr-only">Set Ascending Direction</span></a>
                                </div><!-- End .toolbox-item -->
                            </div><!-- End .toolbox-left -->

                            <div class="toolbox-item toolbox-show">
                                <label>Showing 1–9 of 60 results</label>
                            </div><!-- End .toolbox-item -->

                          
                        </nav>

                        <div class="row row-sm">
                                <% for (var i = 0; i < products.length; i++) { %>
                              <div class="col-4 col-md-3">
                                 <div class="product">
                                    <figure class="product-image-container">
                                       <a href="product.html" class="product-image">
                                       <img src="/uploads/products/<%= products[i].image %>" alt="product">
                                       </a>
                                       <a href="/add-to-cart/<%= products[i]._id %>" class="btn-quickview">Quick View</a>
                                    </figure>
                                    <div class="product-details">
                                       <div class="ratings-container">
                                          <div class="product-ratings">
                                             <i class="fa fa-star" aria-hidden="true"></i>
                                             <i class="fa fa-star" aria-hidden="true"></i>
                                             <i class="fa fa-star" aria-hidden="true"></i>
                                             <i class="fa fa-star" aria-hidden="true"></i>
                                             <i class="fa fa-star" aria-hidden="true"></i>
                                             <!-- End .ratings -->
                                          </div>
                                          <!-- End .product-ratings -->
                                       </div>
                                       <!-- End .product-container -->
                                       <h2 class="product-title">
                                          <a href="product.html"> <%= products[i].name %></a>
                                       </h2>
                                       <div class="price-box">
                                          <span class="product-price">$<%= products[i].price %></span>
                                       </div>
                                       <!-- End .price-box -->
                                       <div class="product-action">
                                          <a href="/add-to-cart/<%= products[i]._id %>" class="paction add-cart" title="Add to Cart">
                                          <span>Add to Cart</span>
                                          </a>
                                       </div>
                                       <!-- End .product-action -->
                                    </div>
                                    <!-- End .product-details -->
                                 </div>
                                 <!-- End .product -->
                              </div>
                               
							
							  
							  
							 <% } %> 
							  
							  
							  
                           </div>
                           <!-- End .row -->






                        <nav class="toolbox toolbox-pagination">
                            <div class="toolbox-item toolbox-show">
                                <label>Showing <%= pages*10 %> results</label>
                            </div><!-- End .toolbox-item -->
                            <% if (pages > 0) { %>
                                <ul class="pagination text-center">
                                    <% if (current == 1) { %>
                                        <li class="disabled"><a class="page-link">First</a></li>
                                    <% } else { %>
                                        <li  class="page-item"><a class="page-link" href="/admin/products/1">First</a></li>
                                    <% } %>
                                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !== 1) { %>
                                        <li class="page-item disabled"><a class="page-link">...</a></li>
                                    <% } %>
                                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                        <% if (i == current) { %>
                                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                                        <% } else { %>
                                            <li class="page-item"><a class="page-link" href="/admin/products/<%= i %>"><%= i %></a></li>
                                        <% } %>
                                        <% if (i == Number(current) + 4 && i < pages) { %>
                                            <li class="page-item disabled" ><a class="page-link">...</a></li>
                                        <% } %>
                                    <% } %>
                                    <% if (current == pages) { %>
                                        <li class="disabled"><a class="page-link">Last</a></li>
                                    <% } else { %>
                                        <li><a  class="page-link" href="/admin/products/<%= pages %>">Last</a></li>
                                    <% } %>
                                </ul>
                            <% } %>
                           
                        </nav>
                    </div>
                    </div>
                    </div>
		 
		 
	