
   
           
      <div class="sprt_sec">
		<div class="container-fluid">
		<div class="row">
		<div class="col-md-8">
		<div class="left_sec">
		<h1><%= product.name %> BandA1975</h1>
		<p>Highest Bid:<span class="bold"><% if(highbid){ %>$<%=highbid.bidprice%> <% }else{ %>-- <% } %></span>  | Lowest Ask:<span class="bold"> <% if(lowbid){ %>$<%=lowbid.bidprice%> <% }else{ %>-- <% } %></span> </p>
		<div class="img_sec">
		<img src="/uploads/products/<%= product.image %>">
		</div>
		</div>
		</div>
	<!--Size selector Pane-->
	<% if(product.attrs.length>0){ %>
		<div class=" col-md-4 attr-selector-pane">
					<%  for(var i = 0; i < product.attrs.length;i++){ %>
						<div style="position: relative; overflow-y: hidden;" class="pane forty pane-grey"> 
						   <div data-testid="product-size-grid" class="size-select-grid">
							  <div class="bsSizeSelectGrid__Title-sc-10iau84-0 jqmgAU">Select <%=product.attrs[i].name %></div>
							  <div class="bsSizeSelectGrid__SubtitleContainer-sc-10iau84-1 efPZCS">
								 U.S. Men's <%=product.attrs[i].name %> | Lowest Asks
								 <!-- <div class="bsSizeSelectGrid__SizeChartButton-sc-10iau84-2 icWnhq">Size Chart</div> -->
							  </div>
							  <div class="grid-tiles">
								   <%  for(var j = 0; j < product.attrs[i].attrs.length;j++){ %>
								 <div class="grid-tile buy-tile attr-selector-cell">
									<div class="tile-inner">
									   <div class="tile-value" value="<%=product.attrs[i].attrs[j] %>"><%=product.attrs[i].attrs[j] %></div>
									   <div class="tile-subvalue">
										  <div class="tile-subvalue">$750</div>
									   </div>
									</div>
								 </div>
								 <% } %>
								 <div class="grid-tile buy-tile">
									<div class="tile-inner">
									   <div class="tile-value">US16</div>
									   <div class="tile-subvalue">
										  <div class="tile-subvalue value-black">Bid</div>
									   </div>
									</div>
								 </div>
							  </div>
						   </div>
			  
						</div>
						
						<%  } %>
			</div>
			  <% } %>
					<!---Size Selector pane End-->
		<div class="col-md-4 bidsel-pane">
			<% if(product.attrs.length>0){ %>
				<div class="buy-sell-size attr-selector-select ">
					<div class="size-details">U.S. Men's Size <span id="attr-selector-attr1">4</span></div>
					<img src="/assets/images/pencil.png" >
					</div>
				<%  } %>
		<div class="left_sec">
	
		<div class="pl_cn">
		<ul class="nav nav-pills nav-fill navtop ">
			<li class="nav-item">
				<a class="nav-link active" href="#menu1" data-toggle="tab" id="menu1btn">  Place Bid</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#menu2" data-toggle="tab" id="menu2btn">Buy Now</a>
			</li>
			
		</ul>
		</div>

		<div class="tab-content ">
			<div class="tab-pane active" role="tabpanel" id="menu1">
				<input type="hidden" id="bid-type" value="buybid">
			<div class="ask-input" data-tour="bid-education">
			   <div class="amount-input vertical">
				  <div class="decoration">$</div>
				  <input data-testid="product-bid-input" id="bid-price-input" placeholder="Enter Bid" class="amount" name="ask-amount" type="tel" maxlength="11" value="0">
			   </div>
			</div>

			<div class="multi-order-summary ">
				<div>
					<div class="item-row">
					   <div>Processing  Fee</div>
					   <div id="processingFee-bid">$0.00</div>
					</div>
									  
					  <div class="item-row">
					   <div>Shipping</div>
					   <div data-testid="bid-total" id="shipping-bid">$0.00 </div>
					</div>
					<div class="item-row">
						<div>Authentication Fee</div>
						<div data-testid="bid-total" id="authenticationFee-bid">$0.00 </div>
					 </div>
					<div class="item-row">
					   <div>Discount Code</div>
					   <div data-testid="bid-total"><input class="discount-input" type="text" placeholder="Add Discount +" value=""></div>
					</div>				  		  
					  <div class="item-row">
					   <div>Total </div>
					   <div data-testid="total-bid" id="totalpay-bid">$0.00 </div>
					</div>				  
				 </div>
			</div>

			<div class="multi-settings ">
			   <div class="expiration settings-detail ">
				  <div class="details">
					 <div class="decoration"><img src="/assets/images/clock.png"></div>
					 Bid Expiration:
				  </div>
				  <div class="form-control btn-group bootstrap-select show-menu-arrow addr-exclude expiration-select-list">
					 <button id="dropdown-button-" type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="30 Days" aria-expanded="false"><span class="filter-option pull-left Select__DropdownDisplay-qa99jb-0 fTmlLX"><span><span style="color: grey; font-weight: 400;">&nbsp;</span><span> 30 Days</span></span></span>&nbsp;<span class="caret"></span></button>
					 <div class="dropdown-menu open" style="max-height: 400px; overflow: hidden;">
						<ul class="dropdown-menu inner Select__List-qa99jb-1 dEfFGJ" role="menu" style="max-height: 400px; overflow-y: auto;">
						   <li><a tabindex="0" role="button" id="option-1" data-value="1"><span class="text">1 Day</span></a></li>
						   <li><a tabindex="0" role="button" id="option-3" data-value="3"><span class="text">3 Days</span></a></li>
						   <li><a tabindex="0" role="button" id="option-7" data-value="7"><span class="text">7 Days</span></a></li>
						   <li><a tabindex="0" role="button" id="option-14" data-value="14"><span class="text">14 Days</span></a></li>
						   <li><a tabindex="0" role="button" id="option-30" data-value="30"><span class="text">30 Days</span></a></li>
						   <li><a tabindex="0" role="button" id="option-60" data-value="60"><span class="text">60 Days</span></a></li>
						</ul>
					 </div>
				  </div>
			   </div>
			   <div class="settings-detail dotted-detail fs-block pay-billing-shipping-bt ">
				  <div class="details">
					 <div class="decoration "><img src="/assets/images/credit card.png"></div>
					 <div class="paypalEmailtext"><%if(billingAddress){%>
						<%=billingAddress.address1 %>
						<%}else{%>
						Please add a payment method
						<% } %>
					</div>
				  </div>
				  <div class="details-action pointer"><img src="/assets/images/pencil.png"></div>
			   </div>
			   <div class="settings-detail dotted-detail fs-block pay-shipping-bt">
				<div class="details">
				   <div class="decoration"><img src="/assets/images/home2.png"></div>
				   <div class="shippingInfotext"><%if(shippingAddress){%>
					<%=shippingAddress.address1 %>
					<%}else{%>
					No Shipping Info Provided
					<% } %>
				</div>
				   
				</div>
				<div class="details-action pointer"><img src="/assets/images/pencil.png"></div>
			 </div>
			 
			</div>

			</div>

			<div class="tab-pane" role="tabpanel" id="menu2">
			
			<div class="ask-input" data-tour="bid-education">
			   <div class="amount-input vertical">
				  <div class="decoration">$</div>
				  <% if(lowbid){ %> <input data-testid="product-bid-input" placeholder="<%=lowbid.bidprice%>" readonly class="amount" name="ask-amount" type="tel" maxlength="11" value="<%=lowbid.bidprice%>">
				  <% }else{ %> <input data-testid="product-bid-input" placeholder="" readonly class="amount" name="ask-amount" type="tel" maxlength="11" value="">
				  <% } %>
			   </div>
			</div>
			<div class="bid-warning ">
			<span class="warning-text">You are about to sell at the highest Bid price</span></div>			

			<div class="multi-order-summary ">
			   <div>
				  <div class="item-row">
					 <div>Processing  Fee</div>
					 <div id="processingFee">$0.00</div>
				  </div>
				  <div class="item-row">
					<div>Shipping</div><div data-testid="bid-total" id="shipping">$0.00</div>
				 </div>
				  <div class="item-row">
					 <div>Authentication Fee</div><div data-testid="bid-total" id="authenticationFee">$0.0</div>
				  </div>				  
				   
				  <div class="item-row">
					 <div>Discount Code</div><div data-testid="bid-total"><input class="discount-input" type="text" placeholder="Add Discount +" value=""></div>
				  </div>				  		  
				    <div class="item-row">
					 <div>Total</div>
					 <div data-testid="bid-total" id="totalpay">$0.00</div>
				  </div>				  
			   </div>
			</div>			
			<div class="multi-settings ">			 
			   <div class="settings-detail dotted-detail fs-block pay-method-bt">
				  <div class="details ">
					 <div class="decoration "><img src="/assets/images/credit card.png"></div>
					 <div class="paypalEmailtext">
					 <%if(paypalEmail){%>
					 <%=paypalEmail %>
					 <%}else{%>
					 Please add a payment method
					 <% } %>
					</div>
				  </div>
				  <div class="details-action pointer"><img src="/assets/images/pencil.png"></div>
			   </div>			 
			</div>			
			</div>			
			<div class="nxxt_btn">
				  <button type="button " class="btn nextPay">NEXT</button>
			</div>			
		</div>	
		</div>
		</div>
		<div style="" class="col-md-4 pane-payment">
             
           
			<div class="payment-selection">
			   <div class="selection-title">Payment Methods</div>
			   
			   <div class="selection-subtitle">Please confirm your payout method below
			  </div>
			  <div class="selected-payment"><div class="payment-bubble paypal"><img src="/img/icons/credit_card_white.svg?auto=compress,format"></div><div class="payment-title">Use PayPal for payout</div></div>
			  <div class="paypal-form"><div class="form-title">PayPal Info</div><input data-testid="user-paypalEmail" name="paypalEmail" id="paypalEmail" type="text" placeholder="PayPal Email" autocomplete="true" class="field" value="">
			  <input data-testid="user-confirmPaypalEmail" name="confirmPaypalEmail" type="text"  placeholder="Confirm PayPal Email" autocomplete="true" class="field" value=""></div>
			</div>
			<div class="cncl_btn">
			  <button type="button " class="btn flT_lft paymethod-cancel">Cancel</button>
			  <button type="button" class="btn flT_right paymethod-submit">Submit</button>
			  </div>  
			
		 </div>
		 <div class="col-md-4 make-payment"></div>

		</div>
		</div>
		</div>
		
		<script>
		//$(function(){
			$("#menu2btn").on('click',function(){
				var id ="<%=product.id %>";// $("#id-manuf-name").val();
				//alert('sdfsd');
				$("#bid-type").val("buy");
				var bidType=$("#bid-type").val();
				console.log(bidType);
				var size='5';
				var sendInfo = {id: id};
				$.ajax({
					method:'post',
					url:"/products/calcbuy/",
					dataType: "json",
					data:sendInfo,
         		  	success: function (json_data) {
					$("#processingFee").text('$'+json_data['processingFee']);
					$("#authenticationFee").text('$'+json_data['authenticationFee']);
					$("#shipping").text('$'+json_data['shipping']);
					$("#discountcode").text('$'+json_data['discountcode']);
					$("#totalpay").text('$'+json_data['totalpay']);	  
				   },
				   error:function(err){  //console.log(err);  
				}	
				});	
			});			
		//})
		$("#menu1btn").on('click',function(){
			$("#bid-type").val("buybid");
			var bidType=$("#bid-type").val();
			console.log(bidType)
			getbidCharges(bidType);
			});	
		$("#bid-price-input").on('change',function(){
			getbidCharges();
			console.log('sdfds');
			});		
		function getbidCharges(){
			var id ="<%=product.id %>";
				var askprice=$("#bid-price-input").val();
				var expiry=$('.dropdown-toggle').text();
				var size=$('#attr-selector-attr1').text();
				var sendInfo = {id: id, askprice:askprice, expiry:expiry };
				$.ajax({
					method:'post',
					url:"/products/calcbuy/",
					dataType: "json",
					data:sendInfo,
         		  	success: function (json_data) {
					$("#processingFee-bid").text('$'+json_data['processingFee']);
					$("#authenticationFee-bid").text('$'+json_data['authenticationFee']);
					$("#shipping-bid").text('$'+json_data['shipping']);
					$("#discountcode-ask").text('$'+json_data['discountcode']);
					$("#totalpay-bid").text('$'+json_data['totalpay']);	  
				   },
				   error:function(err){  //console.log(err);  
				}	
				});			
		}
		$('.dropdown-menu a').on('click', function(){    
	$('.dropdown-toggle').html($(this).html() + '<span class="caret"></span>'); 
	getbidCharges();   
})
$( function(){
	var attrs="<%=product.attrs.length%>";
	if(attrs>0){
		$('.bidsel-pane').hide(); //attr-selector-select
		$('.attr-selector-pane').show();
		$('.attr-selector-cell').on('click',function(){
			var attrv='dfs';
			var attrv=$(this).find(".tile-value:first").text();			
		$('#attr-selector-attr1').html(attrv);
		$('.attr-selector-pane').hide();
		$('.bidsel-pane').show();	
		});	
		$('.attr-selector-select').on('click',function(){
		$('.attr-selector-pane').show();
		$('.bidsel-pane').hide();	
		});	

	}else{		
		$('.attr-selector-pane').hide();
	}
	$('.pane-payment').hide();
	$('.pay-billing-shipping-bt').on('click',function(){
		showBilling();
		//alert('dfsf')

	});
	
	$('.pay-shipping-bt').on('click',function(){
		//alert('dfsf')
		var formdata = {id: '<%=product.id %>'};
		$.ajax({
			method:'post',
			url:"/products/buy/shipping/shippingform",
			//dataType: "json",
			data:formdata,
			success: function (response) {
				$('.attr-selector-pane').hide();
				$('.bidsel-pane').hide();	
				$('.make-payment').html(response);
				//console.log(response);
			}
		})
	});
		
});
function showBilling(){
	var formdata = {id: '<%=product.id %>'};
		$.ajax({
			method:'post',
			url:"/products/buy/billingshiping/form",
			//dataType: "json",
			data:formdata,
			success: function (response) {
				$('.attr-selector-pane').hide();
				$('.bidsel-pane').hide();	
				$('.make-payment').html(response);
				//console.log(response);
			}
		})	
}

$('.nextPay').on('click', function(){    
	showBilling();	  
})
$('.pay-method-bt').on('click', function(){    
	$('.bidsel-pane').hide(); 
	$('.pane-payment').show();
	  
})

$('.paymethod-cancel').on('click',function(){	
	$('.pane-payment').hide();	
		$('.bidsel-pane').show();
})
$('.paymethod-submit').on('click',function(){
	var paypalEmail=$('#paypalEmail').val();
	var fdata = {paypalEmail:paypalEmail };
	$.ajax({
			method:'post',
			url:"/user/settings/payout-info",
			dataType: "json",
			data:fdata,
			success: function (response) {
				//console.log(paypalEmail);
				//console.log(response);
				$('.pane-payment').hide();	
				$('.bidsel-pane').show();
				$('.paypalEmailtext').text(response.paypalEmail);
			},
			error:function(err){
				console.log('some error occoured');
				console.log(err);
			}
		});
});

//shippingInfotext

		</script>