<div class="bid-page" style="position: relative; overflow-y: hidden;">
    <div class="split-pane-page">
       <div class="split-pane with-button-bar">
          <div class="pane sixty">
             <div class="buysell-header">
                <div class="pane-header">
                   <h1 class="proxima-heading"><%=product.name %> <br class="hidden-xs">Fearless Blue the Great</h1>
                   <div class="market-summary"><span class="grey">Highest Bid: </span><span class="bold">$440</span><span class="grey"> | Lowest Ask: </span><span class="bold">$140 </span></div>
                   <div class="hidden-xs"></div>
                </div>
                <div class="header-image image-container"><img src="/uploads/products/<%= product.image %>" alt="Fearless Blue the Great"></div>
             </div>
          </div>

          <%  for(var i = 0; i < product.attrs.length;i++){ %>
          
 
          <div style="position: relative; overflow-y: hidden;" class="pane forty pane-grey"> 
             <div data-testid="product-size-grid" class="size-select-grid">
                <div class="bsSizeSelectGrid__Title-sc-10iau84-0 jqmgAU">Select <%=product.attrs[i].name %></div>
                <div class="bsSizeSelectGrid__SubtitleContainer-sc-10iau84-1 efPZCS">
                   U.S. Men's <%=product.attrs[i].name %> | Lowest Asks
                   <!-- <div class="bsSizeSelectGrid__SizeChartButton-sc-10iau84-2 icWnhq">Size Chart</div> -->
                </div>
                <div class="grid-tiles">
                     <%  for(var j = 0; j < product.attrs[i].attrs.length;j++){ %>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value"><%=product.attrs[i].attrs[j] %></div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$750</div>
                         </div>
                      </div>
                   </div>
                   <% } %>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US16</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue value-black">Bid</div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>

          </div>
          
          <%  } %>
       </div>
    </div>
 </div>
 
 