<div class="page_wrapper">
        <div id="logreg-forms">
       
           
           <form action="/sign-up/" class="form-signup" method="POST">
               <div class="social-login">
                   <button class="btn facebook-btn social-btn" type="button"><span><i class="fa fa-facebook"></i> Sign up with Facebook</span> </button>
               </div>
               <div class="social-login">
                   <button class="btn google-btn social-btn" type="button"><span><i class="fa fa-twitter"></i> Sign up with twitter</span> </button>
               </div>
               
               <p style="text-align:center">OR</p>

               <input  type="First name"
               id="name"
               name="name"
               class="form-control"
               placeholder="Enter Name"
               value="<%= typeof name != 'undefined' ? name : '' %>"
                required="" autofocus="">
                <input  type="name"
                id="lastname"
                name="Last name"
                class="form-control"
                placeholder="Enter Name"
                value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
                 required="" autofocus="">
               <input 
               type="email"
               id="email"
               name="email"
               class="form-control"
               value="<%= typeof email != 'undefined' ? email : '' %>"
               placeholder="Email address" required autofocus="">
               <input 
               type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
               required autofocus="">
               <input 
               type="password"
               id="password2"
               name="password2"
               class="form-control"
               value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
               placeholder="Repeat Password" required autofocus="">

               <button class="btn btn-success btn-block" type="submit"><i class="fa fa-user-plus"></i> Sign Up</button>
               <hr>
               <a href="/sign-in" class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fa fa-user-plus"></i> Sign-in</a>
           </form>
           <br>
           
   </div>
   
     </div>