
<div class="header">
  <div class="header-top">
     <div class="container">
        <div class="header-left header-dropdowns">
           <div class="header-dropdown">
              <a href="#">USD</a>
              <div class="header-menu">
                 <ul>
                    <li><a href="#">EUR</a></li>
                    <li><a href="#">USD</a></li>
                 </ul>
              </div>
              <!-- End .header-menu -->
           </div>
           <!-- End .header-dropown -->
           <div class="header-dropdown">
              <a href="#"><img src="/assets/images/en.png" alt="England flag">ENGLISH</a>
              <div class="header-menu">
                 <ul>
                    <li><a href="#"><img src="/assets/images/en.png" alt="England flag">ENGLISH</a></li>
                    <li><a href="#"><img src="/assets/images/fr.png" alt="France flag">FRENCH</a></li>
                 </ul>
              </div>
              <!-- End .header-menu -->
           </div>
           <!-- End .header-dropown -->
        </div>
        <!-- End .header-left -->
        <div class="header-right">
           <p class="welcome-msg">  Welcome  &nbsp;<%=role%> &nbsp; <%=name%>  </p>
           <div class="header-dropdown dropdown-expanded">
              <a href="#">Links</a>
              <div class="header-menu">
                 <ul>
                   
                    <li><a href="/help">Help</a></li>
                   
                   
                    <% if(role=='User'){%>
                     <li><a href="/user/profile">MY ACCOUNT </a></li>
                     <li><a href="/logout">Logout</a></li>
                     <% }else{ %>
                     <li><a href="/sign-up">Sign up</a></li>
                     <li><a href="/sign-in" class="login-link">Sign IN</a></li>
                     <% } %>
                 </ul>
              </div>
              <!-- End .header-menu -->
           </div>
           <!-- End .header-dropown -->
        </div>
        <!-- End .header-right -->
     </div>
  </div>
  <div class="header-middle">
     <div class="container">
        <div class="header-left">
           <a href="index.html" class="logo">
           <img src="/assets/images/treva.png" alt="Logo">
           </a>
        </div>
        <!-- End .header-left -->
        <div class="header-center">
           <div class="header-search">
              <a href="#" class="search-toggle" role="button"><i class="fa fa-search"></i></a>
              <form action="#" method="get">
                 <div class="header-search-wrapper">
                  <input type="search" class="form-control form-control " name="q" id="product_search" placeholder="Search...">
                    <!-- <div class="select-custom">
                       <select id="cat" name="cat">
                          <option value="">All Categories</option>
                          <option value="4">Fashion</option>
                          <option value="12">- Women</option>
                          <option value="13">- Men</option>
                       </select>
                    </div> -->
                    <div class="col-md-2">

						</div>
                    <!-- End .select-custom -->
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                 </div>
                 <!-- End .header-search-wrapper -->
                  <div id="result_list"> 
                     
                  </div>
              </form>
           </div>
           <!-- End .header-search -->
        </div>
        <!-- End .headeer-center -->
        <div class="header-right">
           <button class="mobile-menu-toggler" type="button">
           <i class="fa fa-bars"></i>
           </button>
           <div class="header-contact">
              <span>Call us now</span>
              <a href="tel:#"><strong>+000 1584 2578</strong></a>
           </div>
           <!-- End .header-contact -->

           <!-- End .dropdown -->
        </div>
        <!-- End .header-right -->
     </div>
     <!-- End .container -->
  </div>
  <div class="sticky-wrapper"  style="">
     <div id="tks" class="header-bottom sticky-header">
        <div class="container">
           <a href='/' class="logo">
           <img src="/assets/images/logo.png" alt=" Logo">
           </a>
          
           <nav class="main-nav">
              <ul class="menu sf-arrows sf-js-enabled" style="touch-action: pan-y;">
                 <li class="active"><a href="/">Home</a></li>


      

               <li class="">
                    <a href="/products" class="sf-with-ul">Browse</a>
                 <!-- <div class="megamenu megamenu-fixed-width" style="display: none;">  -->
                     <ul style="display: none;">
                                    <% if(category){ for(var i = 0; i < category.length; i++) { %>
                                       <li><a href="/category/<%=category[i].name %>" class="sf-with-ul"><%=category[i].name %></a>
                                          
                                             <%if(category[i].child.length>0){  %>
                                                <ul style="display: none;">
                                                   <%for(var j = 0; j < category[i].child.length; j++){%>
                                                <li class="dropdown dropdown-submenu"><a href="/category/sub/<%=category[i].child[j] %>"><%=category[i].child[j]%></a></li>
                                                <% } %>
                                              </ul>
                                                <%} %>
                                          
                                       
                                       </li>

                                      <%} }%>
                                   </ul>                      
                    <!-- </div> -->
                    <!-- End .megamenu -->
                 </li>
                 <!-- <li class=""><a href="/news">News</a></li> -->
                 <li class=""><a href="/app">App</a></li>
                 <li class=""><a href="/user/portfolio">Portfolio</a></li>
                 <li class=""><a href="/about">About</a></li>
                 <li class="">
                                       <!-- <a href="/about" class="sf-with-ul">About</a>
                                          <ul style="display: none;">
                                             <li><a href="/user/buying">buying</a></li>
                                             <li><a href="/user/selling">Selling</a></li>
                                             <li><a href="/user/profile">Profile</a></li>
                                          </ul>
                                       </li> -->
                 <li class=""><a href="/help">Help</a></li>

                 <li class="float-right buy-effect"><a href="/sellsearch" target="_blank"><span>Sell </span></a></li>
                 
                 <% if(role=='User'){%>
                  <li class="float-right">
                     <a href="#" class="sf-with-ul">MyAccount</a>
                     <ul style="display: none;">
                        <li><a href="/user/buying">buying</a></li>
                        <li><a href="/user/selling">Selling</a></li>
                        <li><a href="/user/profile">Profile</a></li>
                        <li><a href="/user/portfolio">Portfolio</a></li>
                        <li><a href="/user/Following">Following</a></li>
                        <li><a href="/user/setting">Setings</a></li>
                        <li><a href="/logout">Signout</a></li>
                     </ul>
                  </li>
                  <% }else{ %>
                     <li class="float-right">
                           <a href="#" class="sf-with-ul">MyAccount</a>
                           <ul style="display: none;">
                  <li><a href="/sign-up">Sign up</a></li>
                  <li><a href="/sign-in" class="login-link">Sign IN</a></li>
               </ul>
            </li>
                  <% } %>
                
              </ul>
           </nav>
        </div>
        <!-- End .header-bottom -->
     </div>
  </div>
</div>
<!---mobile-menu-container-->
<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
     <span class="mobile-menu-close"><i class="fa fa-close"></i></span>
     <nav class="mobile-nav">
        <ul class="mobile-menu">
           <li class="active"><a href="/">Home</a></li>
           <li>
              <a href="/">Categories</a>
              <ul>
               <% if(category){for (var i = 0; i < category.length; i++) { %>
                 <li><a href="/"><% category[i].name %></a></li>
                <%}}%>
              </ul>
           </li>
           <li>
              <a href="/products">Products</a>
              <ul>
                 <li>
                    <a href="#">Variations</a>
                    <ul>
                       <li><a href="/products">Horizontal Thumbnails</a></li>
                       <li><a href="/products">Vertical Thumbnails<span class="tip tip-hot">Hot!</span></a></li>
                       <li><a href="/products">Inner Zoom</a></li>
                       <li><a href="/products">Addtocart Sticky</a></li>
                       <li><a href="/products">Accordion Tabs</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#">Variations</a>
                    <ul>
                       <li><a href="/">Sticky Tabs</a></li>
                       <li><a href="/">Simple Product</a></li>
                       <li><a href="/">With Left Sidebar</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#">Product Layout Types</a>
                    <ul>
                       <li><a href="/">Default Layout</a></li>
                       <li><a href="/">Extended Layout</a></li>
                       <li><a href="/">Full Width Layout</a></li>
                       <li><a href="/">Grid Images Layout</a></li>
                       <li><a href="/">Sticky Both Side Info<span class="tip tip-hot">Hot!</span></a></li>
                       <li><a href="/">Sticky Right Side Info</a></li>
                    </ul>
                 </li>
              </ul>
           </li>
           <li>
              <a href="#">Pages<span class="tip tip-hot">Hot!</span></a>
              <ul>
                 <li><a href="cart.html">Shopping Cart</a></li>
                 <li>
                    <a href="#">Checkout</a>
                    <ul>
                       <li><a href="checkout-shipping.html">Checkout Shipping</a></li>
                       <li><a href="checkout-shipping-2.html">Checkout Shipping 2</a></li>
                       <li><a href="checkout-review.html">Checkout Review</a></li>
                    </ul>
                 </li>
                 <li><a href="/about">About</a></li>
                 <li><a href="#" class="login-link">Login</a></li>
                 <li><a href="/forgot-password">Forgot Password</a></li>
              </ul>
           </li>
           <li>
              <a href="/help">Help</a>
              <ul>
                 <li><a href="/help">Blog Post</a></li>
              </ul>
           </li>
           <li><a href="/contactus">Contact Us</a></li>
           <li><a href="#">Special Offer!<span class="tip tip-hot">Hot!</span></a></li>
          
        </ul>
     </nav>
     <!-- End .mobile-nav -->
     <div class="social-icons">
        <a href="#" class="social-icon" target="_blank"><i class="icon-facebook"></i></a>
        <a href="#" class="social-icon" target="_blank"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank"><i class="icon-instagram"></i></a>
     </div>
     <!-- End .social-icons -->
  </div>
  <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->

<script>
   $('#product_search').keyup(function(){
      var check = $(this).val();
      if(check.length>2)
      {
      $.ajax({
               type: 'POST',
              url: '/searchTest/',
             data: {check:check},
              
             success:function(docs){
               
                if(docs){
                  var daa = '';
                 docs.forEach((item)=>{
                 
                  daa += '<a href="/products/'+item._id+'"><img src="/uploads/products/'+item.image+'" width="50" height="50">'+item.name+'</a>';
                
               });
               
               $("#result_list").html(daa);
               // $('#result_list').html(daa);
               // console.log(docs);
             }
            }
            });
         }
           //{
   //             data('ui-autocomplete')._renderItem = function(ul, item){
   //   return $("<div class='prdct_list'></div>")
   //     .data("item.autocomplete", item)
   //     .append('<div class="left_one_img"><img alt="Jordan 1 Mid SE Light Bone" src="/uploads/products/'+item.image+'" ></div><div class="rgt_one_txt"><h1>'+item.name+'</h1><span></span></div></div>')
   //     .appendTo(ul);
            
   //          })     
   });

</script>