
            <div class="tabs ">
                  <div class="container-fluid">
                    <div class="row">
   
                  
                        <% include ../../partials/user_dashboard_nav %>  
  
  
                            
              <div class="col-xl-9">
              <div class="tab-content">
    
              
                <div class="" id="tab_b">
                            <div class="dashboard-grid-page selling" id="page-content-wrapper">
                 <div class="seller-stats">
                  <div class="stat">
                   <div><img src="/assets/images/buying1.png"></div>
                   <div>
                    <h3>sales</h3>
                    <h2>--</h2>
                   </div>
                  </div>
                  <div class="stat">
                   <div><img src="/assets/images/buying2.png"></div>
                   <div>
                    <h3>sales (#)</h3>
                    <h2>--</h2>
                   </div>
                  </div>
                  <div class="stat">
                   <div><img src="/assets/images/buying3.png"></div>
                   <div>
                    <h3>passed authentication</h3>
                    <h2>--%</h2>
                   </div>
                  </div>
                 </div>
                 <div id="selling-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                           <a class="nav-link active" id="featured-products-tab" data-toggle="tab" href="#products_1" role="tab" aria-controls="featured-products" aria-selected="true">Current</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link show" id="latest-products-tab" data-toggle="tab" href="#products_2" role="tab" aria-controls="latest-products" aria-selected="false"> Pending</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link show" id="latest-products-tab" data-toggle="tab" href="#products_3" role="tab" aria-controls="latest-products" aria-selected="false">History</a>
                         </li>
                     </ul>
  
  
  
                  <div class="tab-content">
                      <div class="tab-pane fade active show" id="products_1" role="tabpanel" aria-labelledby="featured-products-tab">
  
                          <div class="sales-history">
                             <!-- <div class="collection-header header-history pagingCollectionTable__ActionBar-d8ww1c-4 iSIVdG">
                               <form class="form-inline searchForm pagingCollectionTable__SearchForm-d8ww1c-0 eJUxod">
                                <div class="form-group">
                                 <div class="pagingCollectionTable__SearchBar-d8ww1c-1 gRvpGB"><input type="submit" class="pagingCollectionTable__SubmitButton-d8ww1c-3 QsRlz" value="Search"><input class="form-control searchInput" type="text" placeholder="Search name, order #" value=""></div>
                                </div>
                               </form>
                               <button class="sales-report btn btn-danger btn-flat">Request Export</button>
                              </div>-->
                              <div class="portfolio-item-table" style="position: relative;">
                               <table class="table data">
                                <thead>
                                 <tr class="headers">
                                    <th class="col-sm-2 col-xs-2 sortable undefined">Item</th>
                                    <th class="col-sm-2 col-xs-2 sortable undefined">Ask Price</th>
                                    <th class="col-sm-2 col-xs-2 sortable undefined">Highest Bid</th>
                                    <th class="col-sm-2 col-xs-2 sortable undefined">Lowest Ask</th>
                                    <th class="col-sm-2 col-xs-2 sortable undefined">Expires</th>

                                 </tr>
                                </thead>
                                <tbody>                          
                                    <% if(askbids){ %>
                                       <% for (var i = 0; i < askbids.length; i++) { %>
                                          <tr><td><%= askbids[i].title %></td>
                                             <td><%= askbids[i].bidprice %></td>
                                             <td><%= askbids[i].highestbid %></td>
                                             <td><%= askbids[i].lowestask %></td>
                                             <td><%= askbids[i].expire%></td>
                                         </tr>
                                    <% } }else{ %>
                                       <tr> <td colspan="5" class="no-pis"><em>No Results.</em></td></tr>
                                       <% } %>                                
                                </tbody>
                               </table>
                              </div>
                           </div> 
                      </div>
                   <div class="tab-pane " id="products_2" role="tabpanel" aria-labelledby="featured-products-tab">
                    <div class="sales-history">
                       <!-- <div class="collection-header header-history pagingCollectionTable__ActionBar-d8ww1c-4 iSIVdG">
                        <form class="form-inline searchForm pagingCollectionTable__SearchForm-d8ww1c-0 eJUxod">
                         <div class="form-group">
                          <div class="pagingCollectionTable__SearchBar-d8ww1c-1 gRvpGB"><input type="submit" class="pagingCollectionTable__SubmitButton-d8ww1c-3 QsRlz" value="Search"><input class="form-control searchInput" type="text" placeholder="Search name, order #" value=""></div>
                         </div>
                        </form>
                        <button class="sales-report btn btn-danger btn-flat">Request Export</button>
                       </div> -->
                       <div class="portfolio-item-table" style="position: relative;">
                        <table class="table data" >
                         <thead>
                          <tr class="headers">
                             <th class="col-lg-3 col-sm-4 col-xs-6 sortable undefined">Item </th>
                             <th class="col-lg-2 hidden-md hidden-sm hide-xs undefined">Order Number </th>
                             <th class="col-lg-2 col-sm-2 col-xs-3 sortable  dropdown">Sale Date </th>
                             <th class="col-sm-1 col-xs-2 sortable undefined">Price </th>
                             <th class="col-lg-2 col-sm-3 col-xs-2 hide-xs sortable undefined">Status </th>
                          </tr>
                         </thead>
                         <tbody>
                           <% if(orders){ %>
                              <% for (var i = 0; i < orders.length; i++) { %>
                                 <tr><td><%= orders[i].product.name %></td>
                                    <td><%= orders[i]._id %></td>
                                    <td><%= orders[i].orderdate %></td>
                                    <td><%= orders[i].netprice %></td>
                                    <td><%= orders[i].status %></td>
                                </tr>
                                 <% } }else{ %>
                                    <tr> <td colspan="5" class="no-pis"><em>No Results.</em></td></tr>
                                    <% } %> 
                         
                         </tbody>
                        </table>
                       </div>
                    </div>
                   </div>
  
  
                   <div class="tab-pane " id="products_3" role="tabpanel" aria-labelledby="featured-products-tab">
                   <div class="sales-history">
                     <!-- <div class="collection-header header-history pagingCollectionTable__ActionBar-d8ww1c-4 iSIVdG">
                      <form class="form-inline searchForm pagingCollectionTable__SearchForm-d8ww1c-0 eJUxod">
                       <div class="form-group">
                        <div class="pagingCollectionTable__SearchBar-d8ww1c-1 gRvpGB"><input type="submit" class="pagingCollectionTable__SubmitButton-d8ww1c-3 QsRlz" value="Search"><input class="form-control searchInput" type="text" placeholder="Search name, order #" value=""></div>
                       </div>
                      </form>
                      <button class="sales-report btn btn-danger btn-flat">Request Export</button>
                     </div> -->
                     <div class="portfolio-item-table" style="position: relative;">
                        
                      <table class="table data">
                       <thead>
                        <tr class="headers">
                           <th class="col-lg-3 col-sm-4 col-xs-6 sortable undefined">Item </th>
                           <th class="col-lg-2 hidden-md hidden-sm hide-xs undefined">Order Number </th>
                           <th class="col-lg-2 col-sm-2 col-xs-3 sortable  dropdown">Sale Date </th>
                           <th class="col-sm-1 col-xs-2 sortable undefined">Price </th>
                           <th class="col-lg-2 col-sm-3 col-xs-2 hide-xs sortable undefined">Status </th>
                        </tr>
                       </thead>
                       <tbody>
                         <% if(history){ %>
                            <% for (var i = 0; i < history.length; i++) { %>
                               <tr><td><%= history[i].product.name %></td>
                                  <td><%= history[i]._id %></td>
                                  <td><%= history[i].orderdate %></td>
                                  <td><%= history[i].netprice %></td>
                                  <td><%= history[i].status %></td>
                              </tr>
                               <% } }else{ %>
                                  <tr> <td colspan="5" class="no-pis"><em>No Results.</em></td></tr>
                                  <% } %> 
                       
                       </tbody>
                      </table>
                     </div>
                  </div>   
  
                  </div>
                 </div>
              </div>
                </div>
                
                      
    
              </div>
            </div>
               
  
           </div>         
        </div>
  </div>
      
      