<div class="tabs settings">
        <div class="container-fluid">
          <div class="row">
              <% include ../../partials/user_dashboard_nav %>   
              
              <div class="col-xl-9">
                  <% include ../../partials/messages %>
                  <div class="tab-content">      
                        <div class="" id="tab_f">
                              <div class="account-view" id="page-content-wrapper">
                                 <h1>Account Settings</h1>
                                 <div class="profile">
                                   <h2>Profile<a href="/user/settings/profile">Edit</a></h2>
                                   <div class="row">
                                     <div class="acct-col fs-block">
                                       <h3>Name</h3>
                                       <p><%=user.name %></p>
                                     </div>
                                     <div class="acct-col fs-block">
                                       <h3>Selected Currency</h3>
                                       <p><%= user.currency %></p>
                                     </div>
                                     <div class="acct-col fs-block">
                                       <h3>Shoe Size</h3>
                                       <p><%= user.shoesize%></p>
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="acct-col fs-block">
                                       <h3>Email Address</h3>
                                       <p class="email-address"><%= user.email%></p>
                                     </div>
                                     <div class="acct-col fs-block">
                                       <h3>Username</h3>
                                       <p class="email-address"><%=(user.username ? user.username:'')%></p>
                                     </div>
                                   </div>
                                   <div class="row">
                                     <div class="acct-col">
                                       <h3>Reset Password</h3>
                                       <a href="/user/settings/resetpsword" class="resetpsword">Click Here to Reset Password</a>
                                     </div>
                                   </div>
                                   <div>
                                     <div class="vacation-container">
                                       <h3>Vacation Mode<sup><i class="fa fa-question-circle"></i></sup></h3>
                                       <button class="vacation-button btn ladda-button" data-style="slide-left"><span class="ladda-label">turn on</span><span class="ladda-spinner"></span></button>
                                     </div>
                                     <span></span>
                                   </div>
                                   <hr>
                                 </div>
                                 <div class="billing-info">
                                   <h2>Buying Info<a href="/user/settings/buyer-info">Edit</a></h2>
                                   <span>You do not have any payment information on file.</span>
                                 </div>
                                 <div class="billing-info">
                                   <h2>Shipping Info<a href="/user/settings/shipping-info">Edit</a></h2>
                                   <span>You do not have any shipping information on file.</span>
                                   <hr>
                                 </div>
                                 <div class="account-info">
                                   <h2>Seller Info<sup><i class="fa fa-question-circle"></i></sup><a href="/user/settings/seller-info">Edit</a></h2>
                                   <div class="payout-summary"><span>You do not have any account information on file.</span></div>
                                   <hr>
                                 </div>
                                 <div class="account-info">
                                   <h2>Payout Info<a href="/user/settings/payout-info">Edit</a></h2>
                                   <div class="payout-summary"><span>You do not have any account information on file.</span></div>
                                   <hr>
                                 </div>
                                 <div class="notification-settings">
                                   <h2>Notifications</h2>
                                   <div class="email-settings">
                                     <div class="email-group">
                                       <h4 class="group-name">Buying Notifications</h4>
                                       <div class="email-order">
                                          <div><span class="order-name">Bidding, New Lowest Ask....................................................</span>											<label class="switch">
                                               <input  type="checkbox" data-id="1" <% if(user.notifications){if(user.notifications.notif1){ %> checked <% }} %>  class="emailsettings">
                                               <span class="slider round"></span>
                                             </label></div>
                                          <div>
                                            <div class="order-description">Sent when a new Lowest Ask is placed on an item you’re bidding on.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Bidding, New Highest Bid...................................................</span>											<label class="switch">
                                               <input type="checkbox"data-id="2" <% if(user.notifications){if(user.notifications.notif2){ %> checked <% }} %>  class="emailsettings">
                                               <span class="slider round"></span>
                                             </label>           </div>
                                          <div>
                                            <div class="order-description">Sent when a new highest Bid is placed on an item you have an active Bid on.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Bid Expiring...............................................................</span>											<label class="switch">
                                               <input type="checkbox" data-id="3"<% if(user.notifications){if(user.notifications.notif3){ %> checked <% }} %>  class="emailsettings">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent 24 hours before your active Bid expires.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Bid Expired................................................................</span>											<label class="switch">
                                               <input type="checkbox" <% if(user.notifications){ if(user.notifications.notif4){ %> checked <% }} %> >
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent when your Bid has expired.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Ask Matches Expired Bid....................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent if a seller lists a new Ask that matches one of your expired bids.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div>											
            </div>
                                          <div>
                                            <div class="order-description">Sent if a seller lists an Ask at the same price, or lower, within 1/2 size of your existing Bid.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Bid Accepted...............................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Your bid has been accepted</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div>											
                                              
            </div>
                                          <div>
                                            <div class="order-description">Sent when you're almost outbid to win an IPO.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">IPO Bid Out of the Money...................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent if you've been outbid for an IPO and must increase your Bid to win.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">IPO Bid Accepted...........................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent when your IPO Bid has been accepted.</div>
                                          </div>
                                       </div>
                                     </div>
                                     <div class="email-group">
                                       <h4 class="group-name">Selling Notifications</h4>
                                       <div class="email-order">
                                          <div>
                                            <span class="order-name">Asking, New Highest Bid....................................................</span>
                                            <span class="order-input">
                                              <select class="form-control">
                                                <option value="0">ALL</option>
                                                <option value="0.95">95%</option>
                                                <option value="0.90">90%</option>
                                                <option value="0.85">85%</option>
                                                <option value="0.80">80%</option>
                                                <option value="0.75">75%</option>
                                                <option value="0.70">70%</option>
                                                <option value="0.65">65%</option>
                                                <option value="0.60">60%</option>
                                                <option value="0.55">55%</option>
                                                <option value="0.50">50%</option>
                                                <option value="0.45">45%</option>
                                                <option value="0.40">40%</option>
                                                <option value="0.35">35%</option>
                                                <option value="0.30">30%</option>
                                                <option value="0.25">25%</option>
                                                <option value="0.20">20%</option>
                                                <option value="0.15">15%</option>
                                                <option value="0.10">10%</option>
                                                <option value="0.05">5%</option>
                                                <option value="1.00">NONE</option>
                                              </select>
                                            </span>
                                          </div>
                                          <div>
                                            <div class="order-description">Sent when a new Highest Bid is placed on an item that is at least X percent of your Ask.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Asking, New Lowest Ask.....................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent when a new Lowest Ask is placed for an item you have an active Ask for.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Ask Expiring...............................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent 24 hours before your active Ask expires.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Ask Expired................................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent when your Ask has expired.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Item Sold..................................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Your item has sold</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">First Seller Has Not Shipped...............................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent when a seller hasn't shipped by the deadline.</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Second Seller Has Not Shipped..............................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent when a seller still hasn't shipped after first notification</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Third Seller Has Not Shipped...............................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sent as a final warning when a seller hasn't shipped</div>
                                          </div>
                                       </div>
                                     </div>
                                     <div class="email-group">
                                       <h4 class="group-name">Subscription Notifications</h4>
                                       <div class="email-order">
                                          <div><span class="order-name">StockX Product Features &amp; Major Announcements..............................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">StockX Product Features &amp; Major Announcements</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Sneaker News &amp; Promotions..................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Sneaker News &amp; Promotions</div>
                                          </div>
                                       </div>
                                       
                                       
                                       <div class="email-order">
                                          <div><span class="order-name">Handbag News &amp; Promotions..................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Handbag News &amp; Promotions</div>
                                          </div>
                                       </div>
                                       
                                       
                                       <div class="email-order">
                                          <div><span class="order-name">Watch News &amp; Promotions....................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Watch News &amp; Promotions</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Streetwear News &amp; Promotions...............................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Streetwear News &amp; Promotions</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Price Drop Email...........................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            </div>
                                          <div>
                                            <div class="order-description">Price Drop Email</div>
                                          </div>
                                       </div>
                                       <div class="email-order">
                                          <div><span class="order-name">Welcome Series.............................................................</span>											<label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
                                          </div>
                                          <div>
                                            <div class="order-description">Welcome Series</div>
                                          </div>
                                       </div>
                                       
                                       
                                       
                                       <div class="email-order">
                                          <div><span class="order-name">Collectibles News &amp; Promotions.............................................</span>
                                             <label class="switch">
                                               <input type="checkbox">
                                               <span class="slider round"></span>
                                             </label>
            
            
            </div>
                                          <div>
                                            <div class="order-description">Collectibles News &amp; Promotions</div>
                                          </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                              </div>
                              </div>
                           

                              </div>
                           </div>

                            </div>
                        </div>
                      </div>
                      <script>
                        //$(function(){
                          $(".emailsettings").on('change',function(){
                            var id =$(this).data("id");// $("#id-manuf-name").val();
                            var target = $(this);
                            var enabled=false;
                            if($(this).prop("checked") == true){
                              enabled=true;
                             }
                            // var bidType=$("#bid-type").val();
                            // console.log(bidType);
                            // var size='5';
                            // var sendInfo = {id: id};/user/settings/resetpsword
                            $.ajax({
                              method:'post',
                              url:"/user/settings/notification/"+id,
                              dataType: "json",
                              data: {enabled: enabled},
                                     success: function (response) {
                                       $(".settings").html(response);
                                     // alert(json_data['enabled']);    
                               },
                               error:function(err){  //console.log(err);  
                            }	
                            });	
                          });			
                          </script>
                          <script>
                          //  $(".resetpsword").on('click',function(){
                          //    alert('dsfds');
                          // $.ajax({
                          //     method:'post',
                          //     url:"/user/settings/resetpsword",
                          //     //dataType: "json",
                          //     data: {portal:'web'},
                          //     success: function (response) {
                          //              $('.settings').html(response);
                          //            // alert(json_data['enabled']);    
                          //      },
                          //      error:function(err){  //console.log(err);  
                          //       $('.settings').html(response);
                          //   }	
                          //   });	
                          // });	
                          
                          
                          </script>