<div class="bid-page" style="position: relative; overflow-y: hidden;">
    <div class="split-pane-page">
       <div class="split-pane with-button-bar">
       
          <div style="position: relative; overflow-y: hidden;" class="pane forty pane-grey">
             
               <form accept-charset="UTF-8" method="POST" action="#" id="sellerform"  >
             
             <div class="address-form fs-block">
                <div class="form-title">Seller Info</div>
                <% include ../../partials/messages %>
                <input data-testid="user-firstName" name="name" type="text" required="" placeholder="Full Name" autocomplete="true" class="field  " value="<%= address.name%>">
                <input data-testid="organisation_name" name="organisation_name" type="text" required="" placeholder="Company Name" autocomplete="true" class="field  " value="<%= address.organisation_name%>">
    
                <div class="field   field-select cntry">
                       <select name="country" required="" placeholder="Country">
                          
                          <option value="">Country</option>
                          <option value="US">United States</option>
                          <option value="AU">Australia</option>
                          <option value="CA">Canada</option>
                          <option value="FR">France</option>
                          <option value="DE">Germany</option>
                          <option value="HK">Hong Kong SAR</option>
                          <option value="IT">Italy</option>
                          <option value="JP">Japan</option>
                          <option value="SG">Singapore</option>
                          <option value="AE">United Arab Emirates</option>
                          <option value="GB">United Kingdom</option>
                          <option disabled="">------</option>
                          <option value="AL">Albania</option>
                         
                       </select>
                       
                    </div>
                    <div>
                       <div class="GPlacesACField__Container-sc-1xqqpdz-0 iUshPx">
                         <input data-testid="user-streetAddress" name="address1" type="text" required="" placeholder="Address " autocomplete="true" class="field  " value="<%= address.address1%>"></div>
                    </div> 
                    <input data-testid="user-extendedAddress" name="address2" type="text" placeholder="Address 2" autocomplete="true" class="field  " value="<%= address.address2%>">
                   
                    <div class="inner-flex between"><input data-testid="user-region" name="state" type="text" placeholder="State/Province/Region" autocomplete="true" class="field field-full " value="<%= address.state%>">
                  
                    <input data-testid="user-locality" name="city" type="text" required="" placeholder="City" autocomplete="true" class="field  " value="<%= address.city%>">
                        <input data-testid="user-postalCode" name="postalCode" type="text" required="" placeholder="Zip/Postal Code" autocomplete="true" class="field field-full " value="<%= address.postalCode%>"></div>
                    <input data-testid="user-telephone" name="phone" type="tel" required="" placeholder="Phone Number" autocomplete="true" class="field  " value="<%= address.phone%>">
                 </div>
 
                 <div class="cncl_btn">
                   <button type="reset " class="btn flT_lft">Cancel</button>
                   <button type="submit" class="btn flT_right">Save Seller</button>
                   </div>  
              </form>
          </div>
       </div>
    </div>
 </div>

 <script>
   $("#sellerform").on('submit', function(event){
     event.preventDefault();
              //var id ="";// $("#id-manuf-name").val();
              //$("#bid-type").val("sale");
              //var size='5';
              //var sendInfo = {id: id};
              $.ajax({
                 method:'post',
                 url:"seller-info",
                 dataType: "json",
                 data:$(this).serialize(),
                 
                 success: function (res) {
                 var data = res;
                  console.log(res);
                  if(res.success){
                  
                    $('#success_msg').html( '<div class="alert alert-success">Shipping info saved successfully.</div>');
                  }else
                    {
                       $('#message_error').text('*Please input data in All fileds')
                    //   $('#name_error').text(res.errors[0].msg);
                    //   $('#address1_error').text(res.errors[1].msg);
                    //    $('#city_error').text(res.errors[2].msg);
                    //    $('#state_error').text(res.errors[3].msg);
                    //    $('#phone_error').text(res.errors[4].msg);
  
                    }
                 }
                // error:function(err){  //console.log(err);  
                 
              });	
           });		
   </script>