<div class="row">
    <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="font-weight-bold mb-0">Banner Mangement</h4>
              </div>
              <div>
                  <button type="button" class="btn btn-primary btn-icon-text btn-rounded" data-toggle="modal" data-target="#myModal">
                    <i class="ti-link btn-icon-prepend"></i>Add New Banner
                  </button>
              </div>
            </div>
          </div>
    <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">All Banner</h4>
                <p class="card-description">
                  Manage <code>Banner</code>
                </p>
                <div class="table-responsive">
                  <div id="bannerAction"></div>
                  <div id="bannerDelete"></div>
                    <table class="table table-striped" id="brand-data">
                    <thead>
                      <tr>
                        <th>
                          Image
                        </th>
                        <th>
                           Url
                          </th>
                          <th>
                            Edit
                           </th>
                           <th>
                            Status
                          </th>
                           <th>
                             Delete
                           </th>
                      </tr>
                    </thead>
                    <tbody>

                      <% for (var i = 0; i < banner.length; i++) { %>
                    <tr class="data-row"> 
                        <input value="<%= banner[i].image; %>" type="hidden"class="image">
                        <td >
                           <img class="image" src="/uploads/banner/<%= banner[i].image; %> " value="<%= banner[i].image; %>" alt="image" data-item-image="<%=banner[i].image %>"/>
                        </td>
                        <td  class="banner_url" data-item-name="<%=banner[i].url %>"><%= banner[i].url %>
                        </td>
                        
                        <td>
                            <button class=" btn btn-primary btn-rounded btn-icon" id="edit_banner" data-item-id="<%= banner[i]._id %>" >
                              <i class="ti-pencil btn-icon-append"></i> 
                            </button>
                        </td> 
                        <td>
                            <label class="switch">
                              <input id="banner_status" class="banner_status" data-uid="<%= banner[i].id%>" type="checkbox" onclick="return confirm('Aru You Sure to Want Change Status ?')" name="status" value="true" <% if(banner[i].status){if(banner[i].status){ %> checked <% }} %>>
                               <span class="slider round"></span>
                            </label>
                         </td>
                        
                        <td>
                            <a class="bannerDelete btn btn-primary btn-rounded btn-icon" data-uid="<%= banner[i].id %>" onclick="return confirm('Are You Sure to Delete This brand ?')">
                              <i class="ti-trash btn-icon-append"></i> 
                            </a>
                        </td>
                      </tr>
                     <% } %>
                    </tbody>
                  </table >
                </div>
              </div>
            </div>
          </div>        
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Banner</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
          <form method="post" action="/admin/addbanner" enctype="multipart/form-data">
              <div class="panel panel-default">
                  <div class="panel-body">
                          <div class="form-group">                              
                            <input type="text" name="banner_url" class="form-control" id="banner_url" value="" required autofocus>
                          </div>
                          <div class="form-group">                              
                              <input type="file" id="banner_image" class="form-control" name="banner_image" class="banner_image" placeholder="">
                          </div>                            
                      <button type="submit" class="btn btn-success">Add New Banner</button>
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>

  <!-- Attachment edit  Modal -->
<div class="modal fade" id="edit_banner_modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-modal-label">Edit Banner</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="attachment-body-content">
          <form id="edit-brand" class="form-horizontal" method="POST" action="/admin/banner/update"  enctype="multipart/form-data">
              <div class="card-body">
                <div class="form-group">
                  <input type="hidden" name="bannerid" class="form-control" id="banner_id" required>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="modal-input-name">Url</label>
                  <input type="text" name="banner_url" class="form-control" id="banner_url_edit"  value="" required autofocus>
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="modal-input-description">Image</label>
                  <input type="file" id="banner_image" name="banner_image" class="form-control" required>
               </div>
                <div class="form-group">
                  <input type="hidden" class="form-control" id="modal-input-image">
                </div>
                <div class="form-group">
                  <input type="submit"  class="form-control" value="submit" required>
                </div>
                <!-- /description -->
              </div>
          
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Attachment Modal -->
