<div class="row">
   <div class="col-md-12 grid-margin">
           <div class="d-flex justify-content-between align-items-center">
             <div>
               <h4 class="font-weight-bold mb-0">Product Buy Bids</h4>
             </div>
             <!-- <div>
                 <button type="button" class="btn btn-primary btn-icon-text btn-rounded">
                   <i class="ti-clipboard btn-icon-prepend"></i>AddProduct</button>
             </div> -->
           </div>
   </div>
   <div class="col-lg-12 grid-margin stretch-card">
           <div class="card">
             <div class="card-body">
               <h4 class="card-title">All Buy Bids</h4>
               <p class="card-description">
                 List <code>Orders Templates</code>
               </p>
               <div class="table-responsive" >
                  <table class="table table-striped" id="buying-data">
                     <thead>
                      <tr class="headers">
                         <th class="col-sm-2 col-xs-2 sortable undefined">Item</th>
                         <th class="col-sm-2 col-xs-2 sortable undefined">Transcation ID</th>
                         <th class="col-sm-2 col-xs-2 sortable undefined">Bid Price</th>
                         <th class="col-sm-2 col-xs-2 sortable undefined">Highest Bid</th>
                         <th class="col-sm-2 col-xs-2 sortable undefined">Lowest Ask</th>
                         <th class="col-sm-2 col-xs-2 sortable undefined">Expires</th>

                      </tr>
                     </thead>
                     <tbody>                          
                         <% if(buybids){ %>
                            <% for (var i = 0; i < buybids.length; i++) {
                              let s = buybids[i].expire;
                              let d = new Date(s); 
                              d = d.toUTCString()
                              %>
                               <tr><td><%= buybids[i].title %></td>
                                  <td><%= buybids[i].payment.transaction.id%></td>
                                  <td><%= buybids[i].bidprice %></td>
                                  <td><%= buybids[i].highestbid %></td>
                                  <td><%= buybids[i].lowestask %></td>
                                  <td><%=d %></td>
                              </tr>
                         <% } }else{ %>
                            <tr> <td colspan="5" class="no-pis"><em>No Results.</em></td></tr>
                            <% } %>                                
                     </tbody>
                    </table>
               </div>
               <!-- <% if (pages > 0) { %>
                 <ul class="pagination text-center">
                     <% if (current == 1) { %>
                         <li class=" page-item disabled"><a class="page-link">First</a></li>
                     <% } else { %>
                         <li class="page-item"><a class="page-link" href="/admin/template-products/1">First</a></li>
                     <% } %>
                     <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                     <% if (i !== 1) { %>
                         <li class="page-item disabled"><a class="page-link">...</a></li>
                     <% } %>
                     <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                         <% if (i == current) { %>
                             <li class="page-item active"><a class="page-link"><%= i %></a></li>
                         <% } else { %>
                             <li  class="page-item"><a class="page-link" href="/admin/template-products/<%= i %>"><%= i %></a></li>
                         <% } %>
                         <% if (i == Number(current) + 4 && i < pages) { %>
                             <li class="page-item disabled"><a class="page-link">...</a></li>
                         <% } %>
                     <% } %>
                     <% if (current == pages) { %>
                         <li class="page-item disabled"><a class="page-link">Last</a></li>
                     <% } else { %>
                         <li class="page-item" ><a class="page-link" href="/admin/template-products/<%= pages %>">Last</a></li>
                     <% } %>
                 </ul>
             <% } %> -->
             </div>
           </div>
         </div>
       
</div>