<div class="row">
        <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h4 class="font-weight-bold mb-0">Product Templates Mangement</h4>
                  </div>
                  <div>
                      <button type="button" class="btn btn-primary btn-icon-text btn-rounded">
                        <i class="ti-clipboard btn-icon-prepend"></i>AddProduct
                      </button>
                  </div>
                </div>
              </div>
        <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">All Product</h4>
                    <p class="card-description">
                      Manage <code>Product Templates</code>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              User
                            </th>
                            <th>
                              First name
                            </th>
                            <th>
                              Progress
                            </th>
                            <th>
                              Amount
                            </th>
                            <th>
                              Deadline
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < products.length; i++) { %>
                          <tr>
                            <td class="py-1">
                           <!--   <img src="../../images/faces/face6.jpg" alt="image"/>-->
                              <img src="../../images/faces/<%= products[i].cover %>" alt="image"/>
                            </td>
                            <td>
                                <%= products[i].name %>
                            </td>
                            <td>
                                <%= products[i].category %>
                            </td>
                            <td>
                                <%= products[i].price %>
                            </td>
                            
                          </tr>
                          <% } %>
                          <tr>
                             
                            <td class="py-1">
                              <img src="../../images/faces/face7.jpg" alt="image"/>
                            </td>
                            <td>
                              Henry Tom
                            </td>
                            <td>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <td>
                              $ 150.00
                            </td>
                            
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <% if (pages > 0) { %>
                      <ul class="pagination text-center">
                          <% if (current == 1) { %>
                              <li class="disabled"><a>First</a></li>
                          <% } else { %>
                              <li><a href="/products/1">First</a></li>
                          <% } %>
                          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                          <% if (i !== 1) { %>
                              <li class="disabled"><a>...</a></li>
                          <% } %>
                          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                              <% if (i == current) { %>
                                  <li class="active"><a><%= i %></a></li>
                              <% } else { %>
                                  <li><a href="/products/<%= i %>"><%= i %></a></li>
                              <% } %>
                              <% if (i == Number(current) + 4 && i < pages) { %>
                                  <li class="disabled"><a>...</a></li>
                              <% } %>
                          <% } %>
                          <% if (current == pages) { %>
                              <li class="disabled"><a>Last</a></li>
                          <% } else { %>
                              <li><a href="/products/<%= pages %>">Last</a></li>
                          <% } %>
                      </ul>
                  <% } %>
                  </div>
                </div>
              </div>
            
</div>